@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom scrollbar for that retro feel */
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-track {
    background: #5c94fc; 
  }
  ::-webkit-scrollbar-thumb {
    background: #b73229; 
    border: 4px solid #000;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #f8b800; 
  }
}

.pixel-text-shadow {
  text-shadow: 4px 4px 0 #000;
}

.pixel-border {
  box-shadow: 
    -4px 0 0 0 black,
    4px 0 0 0 black,
    0 -4px 0 0 black,
    0 4px 0 0 black;
  margin: 4px;
}